<% c_o_l = @columns_to_render %>

<table border="0" id="select_columns_table">
  <tr>
    <td>
      <% c_o_l.each_index do |i| %>
        <label for="<%=cbName(c_o_l[i]) %>" >
          <%= check_box_tag(cbName(c_o_l[i]), checked=true, class: 'chkBox') %>
          <%= c_o_l[i] %>
        </label>
        <br>
        <% if (i.succ % CBOX_IN_CEIL == 0) && (i.succ < c_o_l.size) %>
             </td> <td>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
