<table border="1" align="left" id="select_columns_table" width="95%">
  <tr>
    <td nowrap>
      <% COLUMNS.each_index do |i| %>
        <label for="<%= cbName COLUMNS[i] %>">
          <%= check_box_tag(cbName(COLUMNS[i]), checked=true, class: 'columns_data') %>
          <%= COLUMNS[i] %>
        </label>
        <% if (i.succ % CBOX_IN_CEIL == 0) && (i < COLUMNS.size) %>
             </td> <td nowrap>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
