<%= form_tag static_pages_path, :method => 'post', :id => 'select_form' do %>
  <%= render 'filters_table'  %>
  <hr>
  <div class="spoil">
    <input type="button" value="Выбор колонок для вывода" class="input-button " id ="btn_spoiler">

      <div id="div_spoiler" style="display: none;">
        <%= render 'columns_to_render_table' %>
      </div><!--id="div_spoiler"-->
  </div><!--class="spoil"-->
<% end %>
