<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Wold Of Tanks about farm table page</title>
</head>
<body BGCOLOR="#E6E8fA" text="#000002" link="#666699" vlink="#666699" alink = "#333366" BACKGROUND = "IMG/background.jpg">
     <strong> Предисловие или в чем идея: </strong>
  <p>&nbsp&nbsp&nbsp&nbsp
      Давно возникал вопрос, как разработчики анализируют и принимают решения по поводу "урезания" или "добавления"
      ТТХ техники. Например, последнее решение по снятию с продажи Е-25 разработчики Wargaming обосновали
      слишком большим превосходством и как следствие недопустимым повышением количества Е-25 в боях. Как определили, что
      именно эта ПТ преобрела неприлично большую популярность?
      Понятно, что есть база данных на основе которой мы видим в ангаре свой рейтинг, медальки,
      средние параметры за бой на каждой технике. Каждый раз, когда мы нажимаем ссылку к базе идет определенные запросы
      и выводится результаты. А Wargaming как любая серьезная организация наверняка системно мониторит результаты
      и корректирует игру. По другому и быть не может, иначе бы в игре давно бы настали жуткие перекосы
      (все мы помним времена, когда в одном бою участвовало по 5 САУ с каждой стороны, или по 7 светляков).
  </p>
  <br>
  <strong> В поисках прибыльного танка:</strong>
  <p>&nbsp&nbsp&nbsp&nbsp
      На официальном форуме нашей любимой игры есть целый раздел посвященный этому вопросу.
      <a href="http://forum.worldoftanks.ru/index.php?/forum/394-%D1%81%D1%80%D0%B0%D0%B2%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B4%D0%BE%D1%85%D0%BE%D0%B4%D0%BD%D0%BE%D1%81%D1%82%D0%B8/">
	  http://forum.worldoftanks.ru </a>
      Тут есть достаточное количество веток, в которых обсуждаются вопросы доходности разных танков.
      Но большинство из них имеют узкую специализацию. Например, сравниваются только премиум машины 8 уровня.
      Но я не могу потратить много денег на дорогие (некоторые весьма) танки. Как на счет фарма на
      обычных машинах? А если деньги появились, куда их лучше потратить: на премиум аккаунт и фармить сутками,
      или купить премиум-танк и зарабатывать постоянно на нем?
      В поисках более разносторонней информации по прибыльности различных танков наткнулся на форуме вот
      на эту тему:
      <a href="http://forum.worldoftanks.ru/index.php?/topic/1274651-%D1%80%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3-%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0-%D0%BF%D1%80%D0%B8%D0%B1%D1%8B%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8-%D1%83%D0%B1%D1%8B%D1%82%D0%BE%D1%87%D0%BD%D0%BE%D1%81%D1%82%D0%B8-%D0%B2/">
	  ссылка </a>.
      Пользователь с ником <i>"nicktriy"</i> выложил в этой теме две больших таблицы с разнообразной статистикой.
      Проблема анализа показателей техники по этим таблицам заключалась в большом количестве колонок (более 40).
      На 19" мониторе они полностью не помещалось. К тому же колонки были разной ширины и пользоваться фильтрами
      было не очень удобно. Так же у меня не получилось быстро сортировать (по возрастанию/убыванию) информормацию
      после применения фильтров. Многие колонки мне были не интересны.  Но если у нас есть данные в табличной форме, то что мешает сделать на ее основе
      своеобразную мини-базу данных. И тогда можно было бы производить анализ техники так, как это делается в игре.
  </p>
  <p> &nbsp&nbsp&nbsp&nbsp
      Не могу сказать, на сколько данные в таблице, которую выложил пользователь "nicktriy" соответствуют
      реальной статистике Wargaming, но просмотрев таблицу по своей технике, могу сказать, что цифры более-менее
      правдоподобные и для несложного анализа вполне подходят.
  <br>На данный момент в мини-базу введены упомянутые вначале две таблицы со статистикой боев за март и апрель 2014 года
      суммарно около 8 миллиона боев.
  </p>
  <br>
  <strong> Как использовать:</strong>
  <p> &nbsp&nbsp&nbsp&nbsp
      Выбираешь в ниспадающем списке различные значения ограничивающих фильтров (строк на страницу,
      режим сортировки, тип техники и страна). Под спойлером выставляешь "галочки" возле названия
      колонок, которые тебе нужны для анализа. После этого жмешь применить. Первоначально сортировка
      данных производится по сниженю уровня техники, т.е. в верхней части находится техника 10 уровня.
      Для смены колонки для анализа (например хотим узнать топ 10 техники, приносящей максимальный доход)
      кликаем на заголовке колонки "Доход за бой", или "Доход за бой в премиум режиме". После этого данные
      отсортируются по значению уменьшения доходности. Самый "прибыльный" танк будет первым. Для сортировки
      результата по возрастанию прибыльности - кликаем на заголовок еще раз.
      Пример. На какой технике Японской ветки выигрывают бой чаще всего? Выбираем в списке стран Японию,
      тип техники оставляем "вся", отмечаем под спойлером, что нас интересует колонка процент побед и
      жмем кнопку "применить". Нажимая на название колонки "процент побед" смотрим на лидеров и аутсайдеров
      статистики.
  </p>
  <br>
  <strong> Анализ статистики:</strong>
  <p> &nbsp&nbsp&nbsp&nbsp
      Стоить сразу отметить, что данные в таблице - это средние показатели результатов боев за месяц.
      Самый высокий процент побед не гарантирует, что играя на этой технике ты сразу поднимешь свой процент
      побед. Возможно на этой технике просто играет бОльшее число сильных игроков. И наоборот. Низкий
      процент побед может говорить, что определенный вид техники просто "проходной" и большинство игроков
      к этой технике серьезно не относятся и используют на ней непрокаченный экипаж или не устанавливают
      дополнительные модули для улучшения характеристик танка. Отсюда и плохие средние показатели.
      Тут уже нужно обращать внимание на количество боев, которые были выполнены на этой технике.
      Чем больше количество боев проведено игроками тем более точнее будут результаты применительно к
      среднестатистическому игроку. Но это уже вопрос анализа. Я не профессионал в этой области.
      Таблица выдает только данные, как их интерпритировать, каждый решает по своему.
  </p>
  <a href="<%= root_path %>"> На страницу анализа<a>
</body>
</html>
