$lightGray: #999;
$grayMediumLight: #eaeaea;
/*------------------------------------------------*/
.btn {
  padding:       8px 8px;
  font:          15px/15px "DejaVu", serif;
  background:    #d0cdb9;
  border-radius: 6px;
  border: groove 2px #fed56f;
  &:hover {
	background:    #d0cdb9;
    border-radius: 7px;/*#b1ac8b*/
    border: groove 2px #bbb79a;
	-webkit-box-shadow: 0px 0px 5px #4d4d4d;
    -moz-box-shadow:    0px 0px 5px #4d4d4d;
    box-shadow:         0px 0px 5px #4d4d4d;
  }
}

.btn-query{
  padding: 12px 12px;
}

.btn-50 {
  width: 100px;
}

.select_width_auto{ width:auto !important; }


body {
  padding-top: 0px;
  background-image: asset-url("background.jpg");
  background-color: #AFEEEE; /*#E6E8fA; */
}


#header_table {
  width: 100%;
  margin: auto;
  border: 0px solid red;
  .right_logo { text-align: right;}
}


#filters_table{
  .big_padding {
    text-align: center;
    padding: 0px 10px 0px 10px;
	white-space: nowrap;
  }
}

#btn_spoiler{
  margin: 0 0 0 25px;
}

#select_columns_table{
  text-align: left;
       width: 99%;
      margin: auto;
  td{
    white-space: nowrap;
	padding: 10px;
	border: solid 0px maroon;
  }
}



#main_table{
  width: 95%;
  margin: auto;
  padding: 0;
  text-align: center;
  .first_row{
	font-weight: bold;
	height: 3em;
	td{
      margin: 0px;
	  text-align: center;
      &:hover { background: #bbb; }
	}
  }
  label{
	  display: block;
	  padding-top: 1px;
	  padding-bottom: 1px;
	  padding-left:  2px;
	  padding-right: 2px;
	  cursor: pointer;
  }
  .selected { font-weight: bold; }
  .xp_data  { width: 4em; }
  .list_line_even { background: #BDB76B; }
}
.country_data, .name_data { text-align: left; }


/* ------------------------------------ */
/*           анимация танка             */
/* ------------------------------------ */

#anima_div{
    position: relative;
border-style: solid;
border-width: 0px;
      height: 31px;
       width:  95%;
}

.move_img{
  position: absolute;
       top: 4px;
      left: 8px;
    height: 27px;
     width: 90px;
}
#redsquare{ visibility: visible; }
#redsquare_reverse{ visibility: hidden; }
/* ------------------------------------ */



/* стилизация `checkbox` от Dimox
----------------------------------------------- */


/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label { cursor: pointer; }

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 45px;
  height: 23px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {  background:  #CC9900;}

/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {  left: 26px;}

/* Показываем получение фокуса. */
.checkbox:focus + label:before {  box-shadow: 0 0 0 3px rgba(255,255,0,.5);}

/* подсвечивание метки чекбокса при наведении */
.lb_chk{
  &:hover{color: #956412;}
}

.h1 {
  height: 25px;
  width:  80%;
  margin: 2px 0;
  font:   20px/20px "DejaVu", serif;
  text-align:     center;
  vertical-align: center;
  border-radius:  10px;
  -webkit-box-shadow: 0px 0px 15px #4d4d4d;
  -moz-box-shadow:    0px 0px 15px #4d4d4d;
  box-shadow:         0px 0px 15px #4d4d4d;
  h1{ margin: 10px 0;}
}
