<%=favicon_link_tag %>
<table id="header_table" align="center">
  <tr>
    <td>  <%= image_tag('rails_logo1.png', size:"90x50") %></td>
    <td align="center" valign="center">
      <div class="h1">
         <h1> World of Tanks analize page </h1>
      </div>
    </td>
    <td class="right_logo">    <%= image_tag('wot_logo.png') %> </td>
  </tr>
</table>